<div class="left_side_bar">
    <a routerLink="/online" class="top_button_left">
        Online<br>
        <span>60</span>
    </a>

    <a routerLink="/offline" class="top_button_right">
        Offline<br>
        <span>45</span>
    </a>

    <a routerLink="/recordings" class="top_button_left" style="background: #53659A;">
        Recordings<br>
        <span>122</span>
    </a>

    <a routerLink="/branches" class="top_button_right" style="background: #6788AB;">
        Total Branches<br>
        <span>200</span>
    </a>

    <a routerLink="/employees" class="top_button_left" style="background: #6788AB;">
        Total Employees<br>
        <span>110</span>
    </a>

    <a href="licence_activation.html" class="top_button_right" style="background: #6788AB;">
        Licence Activation<br>
        <span>55</span>
    </a>

    <a routerLink="/notifications" class="top_button_left" style="background: #6788AB;">
        Notifications<br>
        <span>110</span>
    </a>
    
    <a  class="top_button_right"  style="background: #6788AB;">
        WAN<br>
        <span>0 Kbps</span>
    </a>
    
    <a  class="top_button_left" (click)="logout()" style="background: #ab676d;color:white;cursor: pointer;">
        Log out<br>
        <span><i class="pi pi-sign-out"></i></span>
    </a>
    <div class="col-md-12 p-0 float-left">
        <app-chart chartType="doughnut"></app-chart>
    </div>


    <div class="col-md-12 p-0 float-left mt-3">
        <!-- <h6 class="colmn_chart_heading">Device Type</h6> -->

           <app-chart chartType="bar"></app-chart>

    </div>

</div>

<div class="right_full_bar">
    <div class="full_table">
        <router-outlet></router-outlet>
    </div>
</div>

<!-- <app-branches></app-branches> -->