<div class="left_side_bar">
    <a href="#" class="top_button_left">
        Online<br>
        <span>60</span>
    </a>

    <a href="#" class="top_button_right">
        Offline<br>
        <span>45</span>
    </a>

    <a href="recordings.html" class="top_button_left" style="background: #53659A;">
        Recordings<br>
        <span>122</span>
    </a>

    <a href="#" class="top_button_right" style="background: #6788AB;">
        Total Branches<br>
        <span>200</span>
    </a>

    <a href="employees.html" class="top_button_left" style="background: #6788AB;">
        Total Employees<br>
        <span>110</span>
    </a>

    <a href="licence_activation.html" class="top_button_right" style="background: #6788AB;">
        Licence Activation<br>
        <span>55</span>
    </a>

    <a href="notification.html" class="top_button_left" style="background: #6788AB;">
        Notifications<br>
        <span>110</span>
    </a>

    <a href="#" class="top_button_right" style="background: #6788AB;">
        WAN<br>
        <span>0 Kbps</span>
    </a>

    <div class="col-md-12 p-0 float-left">
        <!-- <p class="piechart_text"><span><code></code></span>E-400 GB</p>
        <p class="piechart_text piechart_text2"><span><code></code></span>E-400 GB</p>
        <p class="piechart_text piechart_text3"><span><code></code></span>E-400 GB</p>
        <p class="piechart_text piechart_text4"><span><code></code></span>E-400 GB</p>
        <p class="piechart_text piechart_text5"><span><code></code></span>E-400 GB</p>
        <div id="donutchart" style="width: 250px; height: 140px;">
            
        </div> -->
        <app-bar-chart chartType="doughnut"></app-bar-chart>

    </div>


    <div class="col-md-12 p-0 float-left mt-3">
        <h6 class="colmn_chart_heading">Device Type</h6>
        <p class="colmn_chart_text"><span></span> <code>Android</code> <span></span><code>Chrome</code>
            <span></span><code>Opera</code> <span></span><code>Media Player</code> <span></span><code>Roku</code></p>
         <app-bar-chart chartType="bar"></app-bar-chart>

    </div>

</div>

<app-branches></app-branches>