<p-table #dt [value]="recordings" [(selection)]="selectedCustomers" dataKey="id" styleClass="p-datatable-customers"
    [rowHover]="true" [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading"
    [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0"
    [globalFilterFields]="['recordings','date','duration']">
    <ng-template pTemplate="caption">
        <div class="table-header">
            List of Recording
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                    placeholder="Global Search" />
            </span>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 3rem"></th>
            <th pSortableColumn="recordings">Recordings <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="date">Date of Recording <p-sortIcon field="date"></p-sortIcon>
            </th>
            <th pSortableColumn="duration">Duration<p-sortIcon field="representative.name">
                </p-sortIcon>
            </th>
            <th >Play
            </th>
            <!-- <th pSortableColumn="status">Status<p-sortIcon field="status"></p-sortIcon>
            </th> -->
            <th >Action
            </th>
            <!-- <th style="width: 8rem"></th> -->
        </tr>
        <tr>
            <th>
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th>
                <input pInputText type="text" (input)="dt.filter($event.target.value, 'company_name', 'contains')"
                    placeholder="Search by Name" class="p-column-filter">
            </th>
            <th>
                <p-calendar (onSelect)="onDateSelect($event)" (onClearClick)="dt.filter($event.target.value, 'created_at', 'equals')"
                    [showButtonBar]="true" styleClass="p-column-filter" placeholder="Registration Date"
                    [readonlyInput]="true" dateFormat="yy-mm-dd"></p-calendar>
            </th>
            <th>
                <input pInputText type="text" (input)="dt.filter($event.target.value, 'duration', 'contains')"
                    placeholder="Search by Duration" class="p-column-filter">
            </th>
        
            <!-- <th>
                <p-dropdown [options]="statuses" (onChange)="dt.filter($event.value, 'status', 'equals')"
                    styleClass="p-column-filter" placeholder="Select a Status" [showClear]="true">
                    <ng-template let-option pTemplate="item">
                        <span
                            [class]="'customer-badge status-' + option.value">&#123;&#123;option.label&#125;&#125;</span>
                    </ng-template>
                </p-dropdown>
            </th> -->
            <!-- <th>
                <input pInputText type="text" (input)="onActivityChange($event)" placeholder="Minimum"
                    class="p-column-filter">
            </th> -->
            <th></th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-recording let-i="rowIndex">
        <tr class="p-selectable-row">
            <td>
                <!-- <p-checkbox  [disabled]="selectedVideos.length == 2" [value]="recording" (onChange)="selectVideo(recording)" ></p-checkbox> -->
                <p-checkbox [disabled]="selectedVideos.length == 2"  [(ngModel)]="selectedValues" [value]="recording" (onChange)="selectVideo(recording,$event,i)" ></p-checkbox>
            </td>
            <td>
                <span class="p-column-title">Recordings</span>
                {{recording.company_name}}
            </td>
            <td>
                <span class="p-column-title">Date of Recording</span>
                <span class="image-text">{{recording.created_at | date:'dd MMM yyyy'}}</span>
            </td>
            <td>
                <span class="p-column-title">Duration</span>
                <span class="image-text">{{recording.duration}}</span>
            </td>
            <!-- <td>
                <span class="p-column-title">Date</span>
                {{customer.date}}
            </td> -->
            <!-- <td>
                <span class="p-column-title">Status</span>
                <span [class]="'customer-badge status-' + customer.status">{{customer.status}}</span>
            </td> -->
            <td>
                <span class="p-column-title" >Play</span>
                <i class="pi pi-caret-right"  (click)="playVideo(recording)"></i>
                <!-- <p-progressBar [value]="recording.type" [showValue]="false"></p-progressBar> -->
            </td>
            <td style="text-align: center">
                <i class="pi pi-trash" style="margin-right: 7px"></i>
                <i class="pi pi-pencil"></i>
                <!-- <button pButton type="button"  icon="pi pi-trash"></button>
                <button pButton type="button"  icon="pi pi-pencil"></button> -->
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="2">No record found.</td>
        </tr>
    </ng-template>
</p-table>

<p-dialog header="Monitor" [(visible)]="playerDialog" [modal]="false" [style]="{width: '50vw'}"
    [maximizable]="true" [baseZIndex]="0" [draggable]="true" [resizable]="true">
    <div>
        <video style="width:50%" autoplay controls [src]="'http://92.253.126.199:5000'+selectVideo[0]"></video>
        <video style="width:50%" autoplay controls  [src]="'http://92.253.126.199:5000'+selectVideo[1]"></video>
    </div>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="playerDialog=false" label="Close" styleClass="p-button-text">
        </p-button>
    </ng-template>
</p-dialog>