<div class="center_bar">
    <h1 class="branch_heading">Branches</h1>

    <div class="branch_block1 active_branch_block">
        <div class="branch_block-top">
            <img src="../../../assets/images/rec.svg" class="br_top_first_img" />

            <div class="br_top_secont_imgclm">
                <img src="../../../assets/images/edit.svg" class="br_top_second_img" />
                <img src="../../../assets/images/dlt.svg" class="br_top_third_img" />
            </div>
        </div>

        <div class="branch_block_btm">
            <p>Branch Name: Gardens ST.<br>Location: Amman</p>
            <a href="#"><img src="../../../assets/images/Icons with numbers (1).svg" /></a>
        </div>
    </div>

    <div class="branch_block2">
        <div class="branch_block-top">
            <img src="../../../assets/images/rec.svg" class="br_top_first_img" />

            <div class="br_top_secont_imgclm">
                <img src="../../../assets/images/edit.svg" class="br_top_second_img" />
                <img src="../../../assets/images/dlt.svg" class="br_top_third_img" />
            </div>
        </div>

        <div class="branch_block_btm">
            <p>Branch Name: Gardens ST.<br>Location: Amman</p>
            <a href="#"><img src="../../../assets/images/Icons with numbers (1).svg" /></a>
        </div>
    </div>

    <div class="branch_block3 ">
        <div class="branch_block-top">
            <img src="../../../assets/images/rec.svg" class="br_top_first_img" />

            <div class="br_top_secont_imgclm">
                <img src="../../../assets/images/edit.svg" class="br_top_second_img" />
                <img src="../../../assets/images/dlt.svg" class="br_top_third_img" />
            </div>
        </div>

        <div class="branch_block_btm">
            <p>Branch Name: Gardens ST.<br>Location: Amman</p>
            <a href="#"><img src="../../../assets/images/Icons with numbers (1).svg" /></a>
        </div>
    </div>

    <div class="branch_block1">
        <div class="branch_block-top">
            <img src="../../../assets/images/rec.svg" class="br_top_first_img" />

            <div class="br_top_secont_imgclm">
                <img src="../../../assets/images/edit.svg" class="br_top_second_img" />
                <img src="../../../assets/images/dlt.svg" class="br_top_third_img" />
            </div>
        </div>

        <div class="branch_block_btm">
            <p>Branch Name: Gardens ST.<br>Location: Amman</p>
            <a href="#"><img src="../../../assets/images/Icons with numbers (1).svg" /></a>
        </div>
    </div>

    <div class="branch_block2">
        <div class="branch_block-top">
            <img src="../../../assets/images/rec.svg" class="br_top_first_img" />

            <div class="br_top_secont_imgclm">
                <img src="../../../assets/images/edit.svg" class="br_top_second_img" />
                <img src="../../../assets/images/dlt.svg" class="br_top_third_img" />
            </div>
        </div>

        <div class="branch_block_btm">
            <p>Branch Name: Gardens ST.<br>Location: Amman</p>
            <a href="#"><img src="../../../assets/images/Icons with numbers (1).svg" /></a>
        </div>
    </div>

    <div class="branch_block3 ">
        <div class="branch_block-top">
            <img src="../../../assets/images/rec.svg" class="br_top_first_img" />

            <div class="br_top_secont_imgclm">
                <img src="../../../assets/images/edit.svg" class="br_top_second_img" />
                <img src="../../../assets/images/dlt.svg" class="br_top_third_img" />
            </div>
        </div>

        <div class="branch_block_btm">
            <p>Branch Name: Gardens ST.<br>Location: Amman</p>
            <a href="#"><img src="../../../assets/images/Icons with numbers (1).svg" /></a>
        </div>
    </div>

    <div class="branch_block1">
        <div class="branch_block-top">
            <img src="../../../assets/images/rec.svg" class="br_top_first_img" />

            <div class="br_top_secont_imgclm">
                <img src="../../../assets/images/edit.svg" class="br_top_second_img" />
                <img src="../../../assets/images/dlt.svg" class="br_top_third_img" />
            </div>
        </div>

        <div class="branch_block_btm">
            <p>Branch Name: Gardens ST.<br>Location: Amman</p>
            <a href="#"><img src="../../../assets/images/Icons with numbers (1).svg" /></a>
        </div>
    </div>

    <div class="branch_block2">
        <div class="branch_block-top">
            <img src="../../../assets/images/rec.svg" class="br_top_first_img" />

            <div class="br_top_secont_imgclm">
                <img src="../../../assets/images/edit.svg" class="br_top_second_img" />
                <img src="../../../assets/images/dlt.svg" class="br_top_third_img" />
            </div>
        </div>

        <div class="branch_block_btm">
            <p>Branch Name: Gardens ST.<br>Location: Amman</p>
            <a href="#"><img src="../../../assets/images/Icons with numbers (1).svg" /></a>
        </div>
    </div>

    <div class="branch_block3 ">
        <div class="branch_block-top">
            <img src="../../../assets/images/rec.svg" class="br_top_first_img" />

            <div class="br_top_secont_imgclm">
                <img src="../../../assets/images/edit.svg" class="br_top_second_img" />
                <img src="../../../assets/images/dlt.svg" class="br_top_third_img" />
            </div>
        </div>

        <div class="branch_block_btm">
            <p>Branch Name: Gardens ST.<br>Location: Amman</p>
            <a href="#"><img src="../../../assets/images/Icons with numbers (1).svg" /></a>
        </div>
    </div>

    <div class="branch_block1">
        <div class="branch_block-top">
            <img src="../../../assets/images/rec.svg" class="br_top_first_img" />

            <div class="br_top_secont_imgclm">
                <img src="../../../assets/images/edit.svg" class="br_top_second_img" />
                <img src="../../../assets/images/dlt.svg" class="br_top_third_img" />
            </div>
        </div>

        <div class="branch_block_btm">
            <p>Branch Name: Gardens ST.<br>Location: Amman</p>
            <a href="#"><img src="../../../assets/images/Icons with numbers (1).svg" /></a>
        </div>
    </div>

    <div class="branch_block2">
        <div class="branch_block-top">
            <img src="../../../assets/images/rec.svg" class="br_top_first_img" />

            <div class="br_top_secont_imgclm">
                <img src="../../../assets/images/edit.svg" class="br_top_second_img" />
                <img src="../../../assets/images/dlt.svg" class="br_top_third_img" />
            </div>
        </div>

        <div class="branch_block_btm">
            <p>Branch Name: Gardens ST.<br>Location: Amman</p>
            <a href="#"><img src="../../../assets/images/Icons with numbers (1).svg" /></a>
        </div>
    </div>

    <div class="branch_block3 ">
        <div class="branch_block-top">
            <img src="../../../assets/images/rec.svg" class="br_top_first_img" />

            <div class="br_top_secont_imgclm">
                <img src="../../../assets/images/edit.svg" class="br_top_second_img" />
                <img src="../../../assets/images/dlt.svg" class="br_top_third_img" />
            </div>
        </div>

        <div class="branch_block_btm">
            <p>Branch Name: Gardens ST.<br>Location: Amman</p>
            <a href="#"><img src="../../../assets/images/Icons with numbers (1).svg" /></a>
        </div>
    </div>



    <div class="pagination_btm">
        <nav aria-label="Page navigation example" class="float-right">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

</div>
<div class="right_side_bar">

    <div class="code-html">
        <div id="menu">
            <span id="renderRange" class="render-range"></span>
        </div>

        <!-- <div id="calendar"></div> -->
        <app-calendar-notification ></app-calendar-notification>    </div>
</div>
